.carousel-caption-color{
    color:rgb(7, 7, 7);
    font-weight: 700;
    text-transform: capitalize;
}
.carousel-img{
    opacity: 0.8;
    
}
.btn a{
    text-decoration: none;
    color: #000;
}
.p-text-dark{
    color: #000;
}
.card-bg{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px whitesmoke;
}
.card-bg-hot{
    margin-top: 6px;
    box-shadow: 5px 5px 5px whitesmoke;
    border-radius: 20px;
    padding: 10px;
    background-color: #3F87F5;
    position: relative;
    bottom: 10px;
    transform: scaleY(1.05);
}
.footer-section{
    height: 10rem;
}
.play-icons{
    width: 100px;
    
}
.apple-icon{
    position: relative;
    bottom: 4rem;
}