.carousel-caption-color{
    color:rgb(7, 7, 7);
    font-weight: 700;
    text-transform: capitalize;
}
.carousel-img{
    opacity: 0.8;
    
}
.btn a{
    text-decoration: none;
    color: #000;
}
.p-text-dark{
    color: #000;
}
/* .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 0%;
} */